<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong><%= pluralize company.projects.count, "project" %></strong>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= company.status %>
  </p>

  <p>
    <strong>Since:</strong>
    <%= company.since %>
  </p>

  <p>
    <strong>To:</strong>
    <%= company.to %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= company.position %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= company.notes %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= company.url %>
  </p>

</div>
